.jumbotron {
    color: #fff;
    padding: 100px 25px;
    font-family: Segoe Script;

    
}
 .navbar {
    margin-bottom: 0;
    font-family: 'Ranga', cursive;
    font-size:50px;
    border-bottom: 6px solid yellow;
}
